@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --primary-1: hsl(259, 100%, 65%);
  --primary-2: hsl(0, 100%, 67%);
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: hsl(0, 0%, 94%);
  --neutral-3: hsl(0, 0%, 86%);
  --neutral-4: hsl(0, 1%, 44%);
  --neutral-5: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--neutral-3);
  height: 100dvh;
  position: relative;
}

.flex-flow {
  display: flex;
}

.container {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.calculator {
  flex-direction: column;
  background-color: white;
  padding: 40px;
  border-radius: 20px 20px 150px 20px;
  width: 750px;
}

@media (max-width: 800px) {
  .calculator {
    padding: 40px 20px;
  }
}

.calculator form {
  padding-bottom: 30px;
  border-bottom: solid 1px var(--neutral-3);
  color: var(--neutral-4);
  position: relative;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 800px) {
  .calculator form {
    padding-bottom: 50px;
  }
}

.calculator .input-container {
  width: 100%;
  gap: 10px;
}

@media (max-width: 800px) {
  .calculator .input-container {
    justify-content: space-evenly;
  }
}

.calculator .input-field {
  max-width: 160px;
}

.calculator form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.calculator form input {
  display: block;
  padding: 7px 20px;
  border-radius: 5px;
  border: solid 1px var(--neutral-3);
  width: 100%;
  font-size: 25px;
}

.calculator form input::placeholder {
  font-size: 25px;
}

.calculator form input:focus {
  border: solid 1px var(--primary-1);
  outline: none;
}

@media (max-width: 800px) {
  .calculator form input {
    padding: 7px 10px;
    font-size: 17px;
  }

  .calculator form input::placeholder {
    font-size: 17px;
  }
}

.calculator .error {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  color: var(--primary-2);
  display: none;
}

.calculator form button {
  border: none;
  background-color: var(--primary-1);
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  cursor: pointer;
}

.calculator form button:hover {
  background-color: var(--neutral-5);
}

@media (min-width: 800px) {
  .calculator form button {
    top: 75px;
    right: 0px;
  }
}

.calculator .result {
  padding-top: 20px;
}

.calculator .result p {
  color: var(--neutral-5);
  font-weight: 800;
  font-style: italic;
  font-size: 6rem;
  line-height: 6.5rem;
}

@media (max-width: 650px) {
  .calculator .result p {
    font-size: 14vw;
    line-height: 4.5rem;
    padding-top: 25px;
  }
}

.calculator .result span {
  color: var(--primary-1);
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}