@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --container-background: hsl(216, 12%, 8%);
    --rating-background: hsl(213, 20%, 18%);
    --accent-1: hsl(25, 97%, 53%);
    --accent-2: hsl(0, 0%, 100%);
    --accent-3: hsl(217, 12%, 63%);
    --accent-4: hsla(216, 12%, 54%);
    --accent-4-dim: hsla(216, 12%, 54%, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

svg {
    display: block;
}

body {
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
    color: var(--accent-2);
}

h1 {
    font-weight: 700;
    font-size: 25px;
}

p {
    color: var(--accent-3);
}

button{
    color: var(--accent-2);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--container-background);
}

.rating-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    max-width: 400px;
    background-color: var(--rating-background);
    border-radius: 20px;
    padding: 30px;
    margin-inline: 20px;
}

.star {
    padding: 15px;
    background-color: var(--accent-4-dim);
    border-radius: 50%;
}

.rating-box .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ratings {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ratings input[type="radio"]{
    display: none;
}

.ratings input[type="radio"]:checked + label{
    background-color: var(--accent-3);
    color: var(--accent-2);
}

.ratings label{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-4-dim);
    color: var(--accent-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratings :hover{
    cursor: pointer;
    background-color: var(--accent-1);
    color: var(--accent-2);
}

.submit {
    width: 100%;
    background-color: var(--accent-1);
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.submit:hover{
    cursor: pointer;
    background-color: var(--accent-2);
    color: var(--accent-1);
}

.confirmation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 400px;
    background-color: var(--rating-background);
    border-radius: 20px;
    padding: 45px 30px;
    margin-inline: 20px;
}

.confirmation .rating-display {
    display: inline-block;
    padding: 6px 15px 4px 15px;
    border-radius: 20px;
    background-color: var(--accent-4-dim);
    color: var(--accent-1);
}

.confirmation .confirmation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.confirmation p{
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}